poetry
passlib[bcrypt]
black
pytest
fastapi
uvicorn
httpie
requests
httpx
mypy
python-jose[cryptography]
python-multipart
pytest-mock
hypothesis
schemathesis
locust
locust-grasshopper
uvicorn[standard]
gunicorn
torch
torchvision
transformers
aiofiles
tabulate
plotly
kaleido
pydantic
country_converter
